#images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.grid-item {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
    object-fit: contain;
}